html, body {
   min-height: 100%;
   margin: 0;
   padding: 0;
   font-family: monospace;
   color: #888;
   background-color: #333;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.header {
   display: flex;
   margin: 8px;
}

.header a {
   margin-left: auto;
   color: #888;
}

.box {
   width: 100%;
}

#c5 {
   box-sizing: border-box;
   width: 100%;
   padding: 8px;
}
